<div class="col-md-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41%2BMZ4466KL.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price 300 $</li>
      <li class="list-group-item">Brand Apple</li>
      <li class="list-group-item">Category Mobile Phones</li>
    </ul>
  </div>
</div>
