<div class="col-md-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ data.image }}" alt="Card image cap" height="300" width="300">
    <div class="card-body">
      <p style="height:80px" class="card-text">{{ data.name }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: {{ data.price }} $</li>
      <li class="list-group-item">Brand: {{ data.brand  }}</li>
      <li class="list-group-item">Category: {{ data.category.name }}</li>
    </ul>
  </div>
</div>
